
## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
/out/

.idea_modules/

### Intellij Patch ###
# Comment Reason: https://github.com/joeblau/gitignore.io/issues/186#issuecomment-215987721

# *.iml
# modules.xml
# .idea/misc.xml
# *.ipr

# Sonarlint plugin
.idea/sonarlint

# End of https://www.gitignore.io/api/intellij

# eclipse
.settings
.classpath
.project
.scala_dependencies
camus
.idea
*.iml
velocity.log
build.log
target
.DS_Store
dependency-reduced-pom.xml
tools/uigen/velocity.log*
derby.log
metastore_db
**/*.versionsBackup.venv

# python
*.pyc
.venv
